<!--
 API Documentation HTML Template  - 1.0.1
 Copyright © 2016 Florian Nicolas
 Licensed under the MIT license.
 https://github.com/ticlekiwi/API-Documentation-HTML-Template
 !-->
<!DOCTYPE html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8">
    <title>API - Documentation</title>
    <meta name="description" content="">
    <meta name="author" content="ticlekiwi">

    <meta http-equiv="cleartype" content="on">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/css/hightlightjs-dark.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg==" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.8.0/highlight.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,300i,500|Source+Code+Pro:300" rel="stylesheet">
    <link rel="stylesheet" href="/css/apistyle.css" media="all">
    <script>hljs.initHighlightingOnLoad();</script>
</head>

<body>
<div class="left-menu">
    <div class="content-logo">
        <!-- <img alt="platform by Emily van den Heever from the Noun Project" title="platform by Emily van den Heever from the Noun Project" src="images/logo.png" height="32" /> -->
        <span>API Documentation</span>
    </div>
    <div class="content-menu">
        <ul>
            <li class="scroll-to-link active" data-target="get-started">
                <a>GET STARTED</a>
            </li>
            <li class="scroll-to-link" data-target="get-characters">
                <a>Get Patient data</a>
            </li>
       </ul>
    </div>
</div>
<div class="content-page">
    <div class="content-code"></div>
    <div class="content">
        <div class="overflow-hidden content-section" id="content-get-started">
            <h1 id="get-started">Get started</h1>
            <pre>
    API Endpoint

        https://vithack.herokuapp.com/api/deceased
                </pre>
            <p>
                Covid19India API provides programmatic access to read Covid19 patients data in India. It contains the patients disease report details, their gender, location, current status, and their infection source details. So it is an one stop API to get every Covid19 patients details in India and can easily monitor the active patients count.
            </p>

        </div>
        <div class="overflow-hidden content-section" id="content-get-characters">
            <h2 id="get-characters">Get Patient data</h2>
            <pre><code class="bash">
# Here is an example

GET https://vithack.herokuapp.com/api/deceased?gender=female&state=Kerala

                </code></pre>
            <p>
                To get characters you need to make a GET request to the following url :<br>
                <code class="higlighted">https://vithack.herokuapp.com/api/deceased</code>
            </p>
            <br>
            <pre><code class="json">
Result example :

[
{
"_id": "5f809ecd933f8a14cdab4fa9",
"patientId": "1",
"reportedOn": "30/01/2020",
"onsetEstimate": "",
"ageEstimate": "20",
"gender": "female",
"city": "Thrissur",
"district": "Thrissur",
"state": "Kerala",
"status": "Recovered",
"notes": "Travelled from Wuhan",
"contractedFrom": "",
"__v": 0
},
{
"_id": "5f809ecd933f8a14cdab4fcd",
"patientId": "37",
"reportedOn": "08/03/2020",
"onsetEstimate": "",
"ageEstimate": "53",
"gender": "female",
"city": "Ranni",
"district": "Pathanamthitta",
"state": "Kerala",
"status": "Recovered",
"notes": "Travelled from Italy on 29/02/2020 through Doha",
"contractedFrom": "P35",
"__v": 0
},
{
"_id": "5f809ecd933f8a14cdab4fcf",
"patientId": "39",
"reportedOn": "08/03/2020",
"onsetEstimate": "",
"ageEstimate": "61",
"gender": "female",
"city": "Ranni",
"district": "Pathanamthitta",
"state": "Kerala",
"status": "Recovered",
"notes": "Relative  and neighbour of P35-P37",
"contractedFrom": "P35",
"__v": 0
},
{
"_id": "5f809ecd933f8a14cdab4fdf",
"patientId": "55",
"reportedOn": "10/03/2020",
"onsetEstimate": "",
"ageEstimate": "",
"gender": "female",
"city": "Kochi",
"district": "Ernakulam",
"state": "Kerala",
"status": "Recovered",
"notes": "Mother of P43",
"contractedFrom": "P43",
"__v": 0
},
{
"_id": "5f809ecd933f8a14cdab4fe1",
"patientId": "57",
"reportedOn": "10/03/2020",
"onsetEstimate": "",
"ageEstimate": "89",
"gender": "female",
"city": "Ranni",
"district": "Pathanamthitta",
"state": "Kerala",
"status": "Recovered",
"notes": "Mother of P36",
"contractedFrom": "P36, P37, P38",
"__v": 0
},
{
"_id": "5f809ecd933f8a14cdab4fe3",
"patientId": "59",
"reportedOn": "10/03/2020",
"onsetEstimate": "",
"ageEstimate": "",
"gender": "female",
"city": "Chengalam",
"district": "Kottayam",
"state": "Kerala",
"status": "Recovered",
"notes": "Son in law of P36 & P37",
"contractedFrom": "P36, P37, P38",
"__v": 0
},
{
"_id": "5f809ecd933f8a14cdab501d",
"patientId": "118",
"reportedOn": "16/03/2020",
"onsetEstimate": "",
"ageEstimate": "",
"gender": "female",
"city": "Malappuram",
"district": "Malappuram",
"state": "Kerala",
"status": "Recovered",
"notes": "Travelled from Middle East",
"contractedFrom": "",
"__v": 0
},
{
"_id": "5f809ecd933f8a14cdab501e",
"patientId": "119",
"reportedOn": "16/03/2020",
"onsetEstimate": "",
"ageEstimate": "",
"gender": "female",
"city": "Malappuram",
"district": "Malappuram",
"state": "Kerala",
"status": "Hospitalized",
"notes": "Travelled from Middle East",
"contractedFrom": "",
"__v": 0
},
{
"_id": "5f809ecd933f8a14cdab508b",
"patientId": "228",
"reportedOn": "20/03/2020",
"onsetEstimate": "",
"ageEstimate": "",
"gender": "female",
"city": "Kochi",
"district": "Ernakulam",
"state": "Kerala",
"status": "Recovered",
"notes": "Travelled from Dubai. UK Tourist",
"contractedFrom": "P108",
"__v": 0
},
{
"_id": "5f809ecd933f8a14cdab5099",
"patientId": "242",
"reportedOn": "20/03/2020",
"onsetEstimate": "",
"ageEstimate": "",
"gender": "female",
"city": "Kasaragod",
"district": "Kasaragod",
"state": "Kerala",
"status": "Hospitalized",
"notes": "Relative of P117",
"contractedFrom": "P117",
"__v": 0
}
]
                </code></pre>
            <h4>QUERY PARAMETERS</h4>
            <table>
                <thead>
                <tr>
                    <th>Field</th>
                    <th>Type</th>
                    <th>Description</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>patientId</td>
                    <td>String</td>
                    <td>(optional) Unique ID number given for each reported patient</td>
                </tr>
                <tr>
                    <td>reportedOn</td>
                    <td>String</td>
                    <td>(optional) Case reported date</td>
                </tr>
                <tr>
                    <td>ageEstimate</td>
                    <td>String</td>
                    <td>
                        (optional) Approximate age of the patient
                    </td>
                </tr>
                <tr>
                    <td>gender</td>
                    <td>String</td>
                    <td>
                        (optional) a string to filter character by gender:<br>
                        male<br>
                        female
                    </td>
                </tr>
                <tr>
                    <td>city</td>
                    <td>String</td>
                    <td>(optional)The nearest city to which the case is reported</td>
                </tr>
                <tr>
                    <td>district</td>
                    <td>String</td>
                    <td>(optional) District in which the city is located</td>
                </tr>
				<tr>
                    <td>state</td>
                    <td>String</td>
                    <td>
                        (optional) State in which the district is located
                    </td>
                </tr>
				<tr>
                    <td>status</td>
                    <td>String</td>
                    <td>
                        (optional) Whether the patient is being hospitalized, or deceased or recovered
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="content-code"></div>
</div>
<!-- Github Corner Ribbon - to remove (Ribbon created with : http://tholman.com/github-corners/ )-->
<!-- <a href="https://github.com/ticlekiwi/API-Documentation-HTML-Template" class="github-corner" aria-label="View source on Github" title="View source on Github"><svg width="80" height="80" viewBox="0 0 250 250" style="z-index:99999; fill:#70B7FD; color:#fff; position: fixed; top: 0; border: 0; right: 0;" aria-hidden="true"><path d="M0,0 L115,115 L130,115 L142,142 L250,250 L250,0 Z"></path><path d="M128.3,109.0 C113.8,99.7 119.0,89.6 119.0,89.6 C122.0,82.7 120.5,78.6 120.5,78.6 C119.2,72.0 123.4,76.3 123.4,76.3 C127.3,80.9 125.5,87.3 125.5,87.3 C122.9,97.6 130.6,101.9 134.4,103.2" fill="currentColor" style="transform-origin: 130px 106px;" class="octo-arm"></path><path d="M115.0,115.0 C114.9,115.1 118.7,116.5 119.8,115.4 L133.7,101.6 C136.9,99.2 139.9,98.4 142.2,98.6 C133.8,88.0 127.5,74.4 143.8,58.0 C148.5,53.4 154.0,51.2 159.7,51.0 C160.3,49.4 163.2,43.6 171.4,40.1 C171.4,40.1 176.1,42.5 178.8,56.2 C183.1,58.6 187.2,61.8 190.9,65.4 C194.5,69.0 197.7,73.2 200.1,77.6 C213.8,80.2 216.3,84.9 216.3,84.9 C212.7,93.1 206.9,96.0 205.4,96.6 C205.1,102.4 203.0,107.8 198.3,112.5 C181.9,128.9 168.3,122.5 157.7,114.1 C157.9,116.9 156.7,120.9 152.7,124.9 L141.0,136.5 C139.8,137.7 141.6,141.9 141.8,141.8 Z" fill="currentColor" class="octo-body"></path></svg></a><style>.github-corner:hover .octo-arm{animation:octocat-wave 560ms ease-in-out}@keyframes octocat-wave{0%,100%{transform:rotate(0)}20%,60%{transform:rotate(-25deg)}40%,80%{transform:rotate(10deg)}}@media (max-width:500px){.github-corner:hover .octo-arm{animation:none}.github-corner .octo-arm{animation:octocat-wave 560ms ease-in-out}}</style> -->
<!-- END Github Corner Ribbon - to remove -->
<script src="/js/apiscript.js"></script>
</body>
</html>