<html>
	

<head>
  <meta charset="UTF-8">
  <title>Chat</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="/css/chat.css">
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
</head>

<body>
      <h3>Click on Arrow button to see next screen</h3>

  <div class="fabs">
  <div class="chat">
    <div class="chat_header">
      <div class="chat_option">

        <span id="chat_head"></span> <br> <span class="agent" style="margin-left:5%;">Chat Bot</span> <span class="online">(Online)</span>
       <span id="chat_fullscreen_loader" class="chat_fullscreen_loader"><i class="fullscreen zmdi zmdi-window-maximize"></i></span>

      </div>

    </div>
    <div class="chat_body chat_login">
        <!-- <a id="chat_first_screen" class="fab"><i class="zmdi zmdi-arrow-right"></i></a>
        <p>We make it simple and seamless for businesses and people to talk to each other. Ask us anything</p> -->
		<div class="chat_category">
          <!-- <a id="chat_first_screen" class="fab"><i class="zmdi zmdi-arrow-right"></i></a> -->
        <p>Are you currently experiencing high temepereature?</p>
        <ul>
          <li ><a href="/#fourth">Yes</a></li>
          <li id="chat_first_screen">No</li>
        </ul>
        </div>
    </div>
    <div id="chat_converse" class="chat_conversion chat_converse">
            <!-- <a id="chat_second_screen" class="fab"><i class="zmdi zmdi-arrow-right"></i></a> -->
      <div class="chat_category">
          <!-- <a id="chat_second_screen" class="fab"><i class="zmdi zmdi-arrow-right"></i></a> -->
        <p>Are you experiencing Dry cough?</p>
        <ul>
          <li ><a href="/#fourth">Yes</a></li>
          <li id="chat_second_screen">No</li>
        </ul>
        </div>
    </div>
    <div id="chat_body" class="chat_body">
        <div class="chat_category">
          <!-- <a id="chat_third_screen" class="fab"><i class="zmdi zmdi-arrow-right"></i></a> -->
        <p>Are you experiencing  Tiredness/Change in Appetite</p>
        <ul>
          <li ><a href="/#fourth">Yes</a></li>
          <li id="chat_third_screen">No</li>
        </ul>
        </div>

    </div>
    <div id="chat_form" class="chat_converse chat_form">
    <!-- <a id="chat_fourth_screen" class="fab"><i class="zmdi zmdi-arrow-right"></i></a> -->
      <div class="chat_category">
          <!-- <a id="chat_fourth_screen" class="fab"><i class="zmdi zmdi-arrow-right"></i></a> -->
        <p>Are you feeling breathless?</p>
        <ul>
          <li><a href="/#fourth">Yes</a></li>
          <li id="chat_fourth_screen">No</li>
        </ul>
        </div>   
    </div>
      <div id="chat_fullscreen" class="chat_conversion chat_converse">
      <span class="chat_msg_item chat_msg_item_admin">
            <div class="chat_avatar">
               <img src="http://res.cloudinary.com/dqvwa7vpe/image/upload/v1496415051/avatar_ma6vug.jpg"/>
            </div>You don’t seem to be experiencing any symptoms of corona. Stay safe and maintain social distance</span>
     
    </div>
    <div class="fab_field">
      <a id="fab_camera" class="fab"><i class="zmdi zmdi-camera"></i></a>
      <a id="fab_send" class="fab"><i class="zmdi zmdi-mail-send"></i></a>
      <textarea id="chatSend" name="chat_message" placeholder="Send a message" class="chat_field chat_message"></textarea>
    </div>
  </div>
    <a id="prime" class="fab"><i class="prime zmdi zmdi-comment-outline"></i></a>
</div>
  <script src='http://code.jquery.com/jquery-1.11.3.min.js'></script>

    <script src="/js/chat.js"></script>

</body>
</html>